<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Content</th>
      <th>Author</th>
      <th class="text-right">Read#</th>
      <th class="text-right">Like#</th>
      <th class="text-right">Dislike#</th>
    </tr>
    <tr *ngFor="let note of quotes">
      <td>
        <a [routerLink]="['/admin/quote/', note.id]">View</a> {{note.content}}
      </td>
      <td>
        {{note.author}}
      </td>
      <td>
        {{note.readCount}}
      </td>
      <td>
        {{note.likeCount}}
      </td>
      <td>
        {{note.dislikeCount}}
      </td>
    </tr>
  </table>
</div>
